<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>weaverServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:/META-INF/spring/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>weaverServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:/META-INF/spring/app-bootstrap.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--logback-->
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>jhTest</servlet-name>
    <servlet-class>com.hf.core.api.JhTest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jhTest</servlet-name>
    <url-pattern>/jhTest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>wwPayCallBack</servlet-name>
    <servlet-class>com.hf.core.api.PayCallBack</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>wwPayCallBack</servlet-name>
    <url-pattern>/payCallBack/ww</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>hfbCallBack</servlet-name>
    <servlet-class>com.hf.core.callback.NotifyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hfbCallBack</servlet-name>
    <url-pattern>/payCallBack/hfb</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>whpPayCallBack</servlet-name>
    <servlet-class>com.hf.core.api.WhpCallBack</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>whpPayCallBack</servlet-name>
    <url-pattern>/payCallBack/whp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>whpQrPayCallBack</servlet-name>
    <servlet-class>com.hf.core.callback.WhpQrCallBack</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>whpQrPayCallBack</servlet-name>
    <url-pattern>/payCallBack/whpQr</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>verify</servlet-name>
    <servlet-class>com.hf.core.callback.quik.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bindCard</servlet-name>
    <servlet-class>com.hf.core.callback.quik.BindCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bindCard</servlet-name>
    <url-pattern>/bindCard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pay</servlet-name>
    <servlet-class>com.hf.core.callback.quik.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/pay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payNotCard</servlet-name>
    <servlet-class>com.hf.core.callback.quik.PayNotCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payNotCard</servlet-name>
    <url-pattern>/payNotCard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>refund</servlet-name>
    <servlet-class>com.hf.core.callback.quik.RefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refund</servlet-name>
    <url-pattern>/refund.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>query</servlet-name>
    <servlet-class>com.hf.core.callback.quik.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query</servlet-name>
    <url-pattern>/query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BindCardnotify</servlet-name>
    <servlet-class>com.hf.core.callback.quik.BindCardNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BindCardnotify</servlet-name>
    <url-pattern>/notify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paynotify</servlet-name>
    <servlet-class>com.hf.core.callback.quik.PayNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paynotify</servlet-name>
    <url-pattern>/payNotify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotCardpayNotify</servlet-name>
    <servlet-class>com.hf.core.callback.quik.PayNotCardNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotCardpayNotify</servlet-name>
    <url-pattern>/payNotCardNotify.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>newPay</servlet-name>
    <servlet-class>com.hf.core.api.PayServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>newPay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>payDemo</servlet-name>
    <servlet-class>com.hf.core.demo.PayDemmoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>payDemo</servlet-name>
    <url-pattern>/payDemo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>zfPayNotify</servlet-name>
    <servlet-class>com.hf.core.api.ZfPayCallBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zfPayNotify</servlet-name>
    <url-pattern>/payCallBack/zf</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>zfbPayNotify</servlet-name>
    <servlet-class>com.hf.core.callback.ZfbCallBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zfbPayNotify</servlet-name>
    <url-pattern>/payCallBack/zfb</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>settleDemo</servlet-name>
    <servlet-class>com.hf.core.servlet.SettleAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settleDemo</servlet-name>
    <url-pattern>/settle/agentPay</url-pattern>
  </servlet-mapping>
</web-app>
